{:paths ["src"]
 :deps {org.clojure/data.xml {:mvn/version "0.2.0-alpha6"}}
 :aliases
 {:test
  {:extra-deps
   {com.cognitect/test-runner
    {:git/url "https://github.com/cognitect-labs/test-runner.git"
     :sha "209b64504cb3bd3b99ecfec7937b358a879f55c1"}
    hickory/hickory {:mvn/version "0.7.1"}}
   :extra-paths ["test" "test-resources"],
   :main-opts ["-m" "cognitect.test-runner"]}}}